
.isolated-country{
  display: block;
  margin: 20px auto;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, 1fr));
  grid-template-columns: 13% 17% 45% 25%;
  background-color: #fff;
  color: #444;
  max-width: 900px;
  margin: auto;
  border: 1px solid #dedede;
  font-size: 12px;
}

.header-background{
  background: #fafafa;
}

.header{
  color:black;
  padding: 0px;
  margin: 10px 0px 10px 10px;
  border-right: 1px solid #dedede;
  font-weight: bold;
}

.header:last-child{
  border-right: none;
}

.row {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, 1fr));
  grid-template-columns: 13% 17% 45% 25%;
  border-bottom: 1px solid #dedede;
}

.box {
  background-color: white;
  color:black;
  border-radius: 5px;
  padding: 10px 10px;
}

.footer{
  padding: 10px 10px;
  background: #fafafa;
  grid-column: 1 / -1;
  text-align: right;
}
